{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | Revit AdServices</title>
</head>
<body style="height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column">
<h2 style="font-family: cursive; font-weight: bolder; opacity: 0.4; text-align: center">"This website is under construction, but we're not sure what
    we're building yet."</h2>
<img src={% static 'temporary/logo.jpg' %} height='220' width="220"/>
</body>
</html>